<?xml version="1.0" encoding="utf-8" ?> 

<configuration>

  <webRoleCsProjPath>C:\Users\bitcloud\vsmac\MessageBoard\MessageBoard\src\trunk\MessageBoard\MessageBoard.UI.Web\MessageBoard.UI.Web.csproj</webRoleCsProjPath>
  
  <databaseConnString>
    <name>dbaseName</name>
    <networkPath>tcp:azurenetworkpath,1433</networkPath>
    <userId>userId</userId>
    <password>pass</password>
    <timeout>integerValue</timeout>
    <encrypt>trueOrFalse</encrypt>
  </databaseConnString>

  <serviceDefiniton>
    <path>C:\Users\bitcloud\vsmac\MessageBoard\MessageBoard\src\trunk\MessageBoard\MessageBoard\ServiceDefinition.csdef</path>
    <webRoleName>MessageBoard.UI.Web</webRoleName>
    <siteName>Web</siteName>
  </serviceDefiniton>
  
  <csPackPath>C:\Program Files\Microsoft SDKs\Windows Azure\.NET SDK\2012-10\bin\cspack.exe</csPackPath>  

</configuration> 
