<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  
  <!--Remote database connection string used in production code-->
  <remoteDbaseConnString>
    <name>database name</name>
    <networkPath>azurenetworkpath</networkPath>
    <userId>user id</userId>
    <password>password</password>
    <timeout>integer value</timeout>
    <encrypt>trueorfalse</encrypt>
  </remoteDbaseConnString>

  <!--Local database connection string used in creaing bacpac file-->
  <localDbaseConnString>
    <server>localhost</server>
    <userId>user id if available</userId>
    <password>password if available</password>
    <integratedSecurity>trueorfalse</integratedSecurity>
  </localDbaseConnString>
  
  <exportSourceDatabaseName>Local database name from which a bacpac file is to be generated e.g MessageBoard</exportSourceDatabaseName>

  <importTargetDatabaseName>new remote or local database name to be created e.g MessageBoard on Azure</importTargetDatabaseName>
 
  <bacpacTempDirPath> temporary directory to hold bacpac file e.g C:\bacpacTemp</bacpacTempDirPath>
  
</configuration>
